@{
     /*
     * Brett Fowler
     * Course CPT-231-424 - C# Programming II
     * Module 12 Assignnent
     * 2023 Fall
     */
}

@model List<SpeciesComplex>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Species Complex Table</h1>
</div>

@* If a successful add/edit/delete message has been passed to TempData, a message displays *@
@if (TempData.Keys.Contains("message"))
{
    <h4 class="bg-success text-center text-white p-2">@TempData["message"]</h4>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Complex ID</th>
            <th scope="col">Complex Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (SpeciesComplex complex in Model)
        {
            <tr>
                <td>
                    @complex.ComplexId
                </td>
                <td>
                    @complex.ComplexName
                </td>
                <td>
                    <a class="btn btn-secondary btn-sm" asp-controller="Complex" asp-action="Edit" asp-route-id="@complex.ComplexId">Edit</a>
                </td>
                <td>
                    <a class="btn btn-secondary btn-sm" asp-controller="Complex" asp-action="Delete" asp-route-id="@complex.ComplexId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-outline-secondary" asp-controller="Complex" asp-action="Add">Add</a>