@{
     /*
     * Brett Fowler
     * Course CPT-231-424 - C# Programming II
     * Module 12 Assignnent
     * 2023 Fall
     */

    /* Cookies and session data being used to store favorite plant data
     * which is accessed through the Favorites navlink and displays the
     * number of favorites on the default area Index page
     */
}

@model List<Plant>

@{
    ViewData["Title"] = "Home Page";
}

@{
    PlantSession plantSession = new PlantSession(Context.Session);
    List<Plant> plants = plantSession.GetPlants();
}

<div class="text-center">
    <h1 class="display-4">Botanical Database</h1>
</div>

@if (plants.Count > 0)
{
    <h4 class ="bg-success text-center text-white p-2">There are @plants.Count plants in the favorites list.</h4>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Plant ID</th>
            <th scope="col">Plant Name</th>
            <th scope="col">Type</th>
            <th scope="col">Synonyms</th>
            <th scope="col">Distribution</th>
            <th scope="col">Species Complex</th>
            <th scope="col">Aquired Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Plant plant in Model)
        {
            <tr>
                <td>
                    @plant.PlantId
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Favorite" asp-route-id="@plant.PlantId">@plant.PlantName</a>
                </td>
                <td>
                    @plant.PlantType
                </td>
                <td>
                    @plant.Synonym
                </td>
                <td>
                    @plant.Distribution
                </td>
                <td>
                    @plant.Complex.ComplexName
                </td>
                <td>
                    @plant.AquiredDate
                </td>
                <td>
                    @plant.PlantStatus
                </td>
            </tr>
        }
    </tbody>
</table>
